<p>
    <i class="fa fa-thumbs-o-up text-warning"></i>

    {{ value == 'full' ? 'Currently have limited full-time capacity' }}
    {{ value == 'part' ? 'Currently have limited part-time capacity' }}
</p>
