<p>
    <i class="fa fa-thumbs-o-down text-danger"></i>

    {{ value == 'full' ? 'Currently no spare full-time capacity.' }}
    {{ value == 'part' ? 'Currently no spare part-time capacity.' }}
</p>
