<p>
    <i class="fa fa-thumbs-o-up text-success"></i>

    {{ value == 'full' ? 'Currently have available full-time capacity' }}

    {{ value == 'part' ? 'Currently have available part-time capacity' }}
</p>
