---
import PageLayout from '../layouts/PageLayout.astro'
---

<PageLayout title="Search">
  <form action="https://www.google.com/search" method="get">
    <input type="hidden" name="q" value="site:https://www.oliverdavies.uk">
    <input type="text" name="q" alt="search">
    <input type="submit" value="Search">
  </form>
</PageLayout>
