{% if data.posts and page.url != '/blog' %}
    <div class="lh-copy">
        <h2>Latest blog posts</h2>

        <ul class="list pa0">
            {% for post in data.posts|slice(0, site.latest_posts) %}
                <li>
                    <a href="{{ post.url }}">
                        {{ post.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
