---
layout: default
title: Archive
use: [posts]
---
{% block page_title_wrapper %}
    <h1 class="leading-tight mb-8">
        {% block page_title %}{{ page.title }}{% endblock %}
    </h1>
{% endblock %}

{% block content %}
    <div class="-mt-4 -mx-4 spaced-y-4">
        {% for post in data.posts %}
            <article class="p-4 {{ post.draft ? 'bg-blue-lighter' }}">
                {% include 'blog/post-summary' with {
                    show_date: true,
                } %}
            </article>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
