---
layout: default
title: Articles
use: [posts]
---
<div class="spaced-y-10">
    <div class="text-lg spaced-y-4">
        <p>I enjoy writing articles, and have written a number of them so far during my career, both to document my own learning as well to act as resources for others.</p>
        <p>Here are some of my favourites.</p>
    </div>

    <div class="spaced-y-10">
        {% for post in data.posts if post.promoted %}
            <div>
                {% include 'blog/post-summary' %}
            </div>
        {% endfor %}
    </div>

    <div class="markup">
        <p>Read the rest of my articles in the <a href="/articles/archive">archives</a>.</p>
    </div>
</div>
