---
layout: default
title: Articles
use: [posts]
---
<div class="mb-10 spaced-y-10">
    {% for post in data.posts if post.promoted %}
        <div>
            {% include 'blog/post-summary' %}
        </div>
    {% endfor %}
</div>

<div class="markup">
    <a href="/articles/archive">Archive</a>
</div>
