---
layout: default
title: Articles
use: [posts]
---
<div class="spaced-y-10">
    <header class="spaced-y-4">
        <p class="lead">I enjoy writing articles, and have written a number of them so far during my career, both to document my own learning as well to act as resources for others.</p>
        <p class="lead">Here are some of my favourites.</p>
    </header>

    <div class="spaced-y-12">
        {% for post in data.posts if post.promoted %}
            <article>
                {% include 'blog/post-summary' %}
            </article>
        {% endfor %}
    </div>

    <footer>
        <p class="text-lg">Read the rest of my articles in the <a href="/articles/archive">archives</a>.</p>
    </footer>
</div>
