---
layout: default
nav: blog
title: Tags
use:
  - posts_tags
---
{% set rows = {} %}
{% for tag, posts in data.posts_tags %}
    {% set rows = rows|merge({ (tag): posts|length }) %}
{% endfor %}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Tag</th>
                <th>Number of posts</th>
            </tr>
        </thead>
        <tbody>
            {% for tag, post_count in rows|sort|reverse %}
                <tr>
                    <td>
                        <a href="{{ site.url }}/articles/tags/{{ tag|url_encode(true) }}">{{ tag }}</a>
                    </td>
                    <td>{{ post_count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
