<aside>
  <h2>About Me</h2>

  <div class="flex mt-4 space-x-4">
    <div class="flex-shrink-0">
        <img src="{{ avatar.url }}" alt="Picture of Oliver" class="w-16 h-16 border rounded-full border-gray">
    </div>

    <div>
      <p>
        Oliver Davies is a PHP Developer and Linux Systems Administrator based in the UK.
        He is a {{ work.role }} at <a href="{{ work.company.url }}?utm_source=oliverdavies.uk&amp;utm_medium=about-author" class="link">{{ work.company.name }}</a> and a Freelancer specialising in Drupal and Symfony application development.
      </p>
    </div>
  </div>
</aside>
