<div class="availability">
    <h2>Availability</h2>
    <div class="content">
        {% set day_available = site.availability.day.available %}
        {% if (day_available == 'no') %}
            <p>Not available for day contract work.</p>
        {% else %}
            <p>Available for day contract work.</p>
        {% endif %}

        {% set evenings_available = site.availability.evenings.available %}
        {% if (evenings_available == 'yes') %}
            <p>Available for weekend/evening freelance work.</p>
        {% elseif (evenings_available == 'limited') %}
            <p>Limited availability for weekend/evening freelance work.</p>
        {% else %}
            <p>Not available for weekend/evening freelance work.</p>
        {% endif %}
    </div>
</div>
