<div class="panel badges text-center">
    <a class="badge--da-member" href="https://assoc.drupal.org/membership" title="I’m a Drupal Association member.">
        <img src="{{ site.images_url }}/assets/images/da-individual-member.png" alt="Drupal Association Individual Member">
    </a>

    <a href="https://www.drupal.org/8">
        <img alt="I built Drupal 8 with hand holding a wrench on blue background" src="{{ site.images_url }}/assets/images/drupal-8.jpg"/>
    </a>

    <img
        src="{{ site.images_url }}/assets/images/badges/acquia-certified-developer-drupal-8.png"
        alt="Acquia Certified Developer - Drupal 8 Exam Badge"
        height="147" width="147"
        />
</div>
