<footer class="mt-10">
    <nav class="flex flex-wrap justify-center space-x-3">
        {% for link in site.menus.footer %}
            <a class="link" href="{{ link.href }}">{{ link.title }}</a>
        {% endfor %}
    </nav>
</footer>
