<footer class="mt-20">
    <nav class="flex flex-wrap justify-center -mb-3">
        {% for link in site.menus.footer %}
            <a class="mx-3 mb-3 text-base md:text-lg dark:text-white dark:text-decoration-white link" href="{{ link.href }}">{{ link.title }}</a>
        {% endfor %}
    </nav>
</footer>
