<footer class="container" role="contentinfo">
  <p class="copyright">&copy; 2010-{{ 'now'|date('Y') }} {{ site.title }}. Powered by <a href="https://sculpin.io">Sculpin</a> and <a href="https://www.digitalocean.com/?refcode={{ site.digitalocean_referral }}">DigitalOcean</a>.</p>

  {% include 'meetups' %}
</footer>
