<li class="mr-2">
    <a href="{{ url }}">
        <img
            class="h-16"
            src="/images/meetups/{{ logo }}"
            title="{{ name }}"
            alt="{{ name }} logo"
        >
    </a>
</li>
