<div class="mt-2">
    <h2 class="mb-2">Things that I organise</h2>

    <ul class="list-reset inline-flex">
        {% include 'meetup.html.twig' with {
            name: 'Drupal Bristol',
            logo: 'drupal-bristol.jpeg',
            url: 'http://www.drupalbristol.org.uk',
        } %}

        {% include 'meetup.html.twig' with {
            name: 'DrupalCamp Bristol',
            logo: 'drupalcamp-bristol.png',
            url: 'http://www.drupalcampbristol.co.uk',
        } %}

        {% include 'meetup.html.twig' with {
            name: 'PHPSW',
            logo: 'phpsw.jpeg',
            url: 'http://phpsw.uk',
        } %}
    </ul>
</div>
