<a href="{{ href }}" class="block p-4 border-l-3 md:border-l-0 md:border-b-2 md:ml-4 md:mr-0 md:p-0 hover:no-underline {{ page.url matches '#' ~ pattern ~ '#' ? 'border-blue' : 'border-transparent hover:border-grey-light' }} {{ loop.first ? 'border-t border-grey-lighter md:border-t-0 md:border-transparent' }}">
    <span class="flex items-center h-full">
        {{- title -}}
    </span>
</a>
