<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.url }}">{{ site.title }}</a>
    </div>

    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="nav__about"><a href="/">About</a></li>
        <li class="nav__work"><a href="/work/">Work</a></li>
        <li class="nav__services"><a href="/services/">Services</a></li>
        <li class="nav__talks"><a href="/talks/">Talks</a></li>
        <li class="nav__blog"><a href="/blog/">Blog</a></li>
        <li class="nav__contact"><a href="/contact/">Contact</a></li>
      </ul>
    </div>{# .nav-collapse #}
  </div>
</nav>
