{% block sidebar_wrapper %}
    <div class="col-md-3">
        {% block sidebar %}
            {{ include('badges') }}
            {{ include('availability') }}
            {{ include('posts/latest') }}
        {% endblock %}
    </div>
{% endblock %}
