<div class="col-md-2">
  <section class="block block--da_member">
    <h2>Drupal Association</h2>
    <a href="https://assoc.drupal.org/membership" title="Become a Drupal Association member">
      <img src="/assets/images/da-individual-member.png" alt="Drupal Association Individual Member">
    </a>
  </section>
</div>
