<h2>Skills</h2>

<p>I regularly use:</p>

{% include 'skills-list' with { skills: site.skills[0] } %}

<p>I am also familiar with:</p>

{% include 'skills-list' with { skills: site.skills[1] } %}

<p>I would like to do more:</p>

{% include 'skills-list' with { skills: site.skills[2] } %}
