<ul class="skills-list is-flex flex-wrap list-style-none">
    {% for skill in skills %}
        <li class="skill">
            <img
                class="skill-image"
                src="/assets/images/skills/{{ skill.image }}"
                title="{{ skill.name }}"
                alt="{{ skill.name }} logo">
        </li>
    {% endfor %}
</ul>
