<li>
    <strong>{% spaceless %}
        {% if talk.fuzzy_date %}
            {{ talk.date|date('F') }}
        {% else %}
            {{ talk.date|date('jS F') }}
        {% endif %}
    {% endspaceless %}</strong> - {{ talk.location|raw }} - {{ talk.title|raw }}
</li>
