<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Talk</th>
            <th>Event</th>
        </tr>
    </thead>
    <tbody>
        {% for event in events %}
            <tr>
                <td>
                    {{ event.date|date(site.default_date_format) }}
                </td>

                <td>
                    <a href="{{ event.talk.url }}">
                        {{ event.talk.title }}
                    </a>
                </td>

                <td>
                    {{ event.title }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
