<title>{% spaceless %}
    {% if page.url == '/.' %}
        {{ site.subtitle }} | {{ site.title }}
    {% else %}
        {{ page.title }} | {{ site.title }}
    {% endif %}
{% endspaceless %}</title>
