<div class="{{ class }}">
    <blockquote
        class="twitter-tweet"
        {% if not data_cards %}data-cards="hidden"{% endif %}
        data-conversation="none"
        lang="en"
    >
        {{ content|raw }}
    </blockquote>
</div>
