<div class="{{ class }}">
    <blockquote
        class="twitter-tweet"
        data-cards="hidden"
        data-conversation="none"
        lang="en"
    >
        {{ content|raw }}
    </blockquote>
</div>
