<div class="{{ class }}">
    <blockquote
        class="twitter-tweet"
        {% if not data_cards %}data-cards="hidden"{% endif %}
        {% if no_parent %}data-conversation="none"{% endif %}
        lang="en"
    >
        {{ content|raw }}
    </blockquote>
</div>
