<div class="{{ classes }}">
    <iframe
        src="https://www.youtube.com/embed/{{ video.id }}"
        height="{{ video.attr.height }}"
        width="{{ video.attr.width }}"
        frameborder="0"
        allowfullscreen
    ></iframe>
</div>
