---
import BaseLayout from './PageLayout.astro'
import DailyEmailForm from '../components/DailyEmailForm.astro'

const { title } = Astro.props.frontmatter || Astro.props;
---

<BaseLayout title={title}>
  <div class="space-y-16">
    <div class="markdown">
      <slot />
    </div>

    <DailyEmailForm />
  </div>
</BaseLayout>
