---
import AboutMe from "../components/AboutMe.astro";
import BaseLayout from "./PageLayout.astro";
import DailyEmailForm from "../components/DailyEmailForm.astro";
import Markdown from "../components/Markdown.astro";

const { title } = Astro.props.frontmatter || Astro.props;
---

<BaseLayout title={title}>
  <div class="space-y-16">
    <Markdown>
      <slot />

      <p>- Oliver</p>
    </Markdown>

    <DailyEmailForm
      intro="Was this useful? Sign up here and get more like this delivered straight to your inbox every day."
    />

    <AboutMe />
  </div>
</BaseLayout>
