@import 'tailwindcss/base';
@import './custom-base.pcss';

@import 'tailwindcss/components';
@import './custom-components.pcss';

@import 'highlightjs/styles/github-gist';
@import './libraries/hljs.pcss';

@import 'tailwindcss/utilities';
@import './custom-utilities.pcss';
