<div class="w-full lg:w-2/3">
<form action="{{ page.mailchimp_url }}" method="post" name="mc-embedded-subscribe-form" novalidate="">
    <div id="mc_embed_signup_scroll">
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_46d1ff41a9918b3b7efb885dc_6df88a3d0f" tabindex="-1" value="">
        </div>

        <div class="flex overflow-hidden">
            <input type="email" value="" name="EMAIL" class="required email block w-full border border-gray p-3 pl-5 rounded-l-full" placeholder="enter your email" aria-label="Email">
            <button type="submit" name="subscribe" class="block w-auto border border-gray border-l-0 py-3 pl-5 pr-6 rounded-r-full bg-blue-600 text-white">Subscribe</button>
        </div>
    </div>
</form>
</div>
