<section class="border-b border-t mb-4 mt-8 py-4">
    <p>
        Questions? Comments?
        I’m <a href="https://twitter.com/{{ site.twitter.user }}">@{{ site.twitter.user }}</a> on Twitter.
    </p>
</section>
