{% if page.related -%}
    <h2>Related Posts</h2>

    <ul>
        {% for relate in page.related -%}
            <li>
                <a href="{{ relate.source.url }}">{{ relate.title }}</a>
            </li>
        {% endfor %}
    </ul>
{%- endif %}
