header[role="banner"] {
  @include adjust-leading-to(1);
  background-color: #064771;
  color: white;
  padding: 1.5em 0;

  .inner {
    @include container(95%);
    
    @include breakpoint($desktop) {
      @include container(960px);
    }

    .main-menu {
      ul {
        @include inline-block-list;
      }

      a {
        border-bottom: 1px solid #064771;
        color: white;
        display: block;
        margin: 0 .5em 0 0;
        text-decoration: none;

        &.active {
          border-color: white;
        }
      }
    }

    @include breakpoint($mobile + 1) {
      .site-name {
        @include span(first 4);
      }

      .main-menu {
        @include span(8);
        text-align: right;

        a {
          margin: 0 0 0 .5em;
        }
      }
    }
  }
}

@each $class in about, work, services, talks, blog, contact {
  body.#{$class} .main-menu a.#{$class} {
    border-bottom-color: white;
  }
}