<div class="lg:flex mt-8 -mx-4">
    {% if page.previous_post %}
        <div class="lg:w-1/2 px-4 mb-2 lg:mb-0">
           <a href="{{ page.previous_post.url }}" class="text-blue @text-blue-dark">
                &laquo; {{ page.previous_post.title }}
            </a>
        </div>
    {% endif %}

    {% if page.next_post %}
        <div class="lg:w-1/2 px-4 lg:text-right">
            <a href="{{ page.next_post.url }}" class="text-blue @text-blue-dark">
                {{ page.next_post.title }} &raquo;
            </a>
        </div>
    {% endif %}
</div>
