{% if page.tags %}
    <div class="tags">
        {% for tag in page.tags %}
            <a href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}" class="blue">
                {{- tag -}}
            </a>
        {% endfor %}
    </div>
{% endif %}
