{% if page.tags %}
    <div>
        <p>
            Tags:
            {% for tag in page.tags|sort %}
                <a href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}" class="blue">
                    {{- tag -}}
                </a>
                {%- if not loop.last %},{% endif %}
            {% endfor %}
        </p>
    </div>
{% endif %}
