{% extends 'default' %}

{% block content_top %}
    <h1>{{ page.title }}</h1>
{% endblock %}

{% block content_wrapper %}
    {% include 'talk/location' %}
    {% include 'talk/slides' %}
    {% include 'talk/video' %}

    <div class="talk-description">
        {% include 'talk/logo' %}

        {% block content %}{% endblock %}
    </div>

    {% include 'talk/pager' %}
{% endblock %}
