{% extends 'default' %}

{% block content_top %}
    <h1>{{ page.title }}</h1>
{% endblock %}

{% block content_wrapper %}
    {% block content %}{% endblock %}

    {{ include('talk/event') }}
    {{ include('talk/slides') }}
    {{ include('talk/video') }}
{% endblock %}
