<li>
    <i class="mr1 fa fa-thumbs-o-up orange"></i>

    {{ value == 'full' ? 'Currently have limited full-time capacity' }}
    {{ value == 'part' ? 'Currently have limited part-time capacity' }}
</li>
