<p>
    <span class="icon is-small">
        <i class="fa fa-thumbs-o-up is-warning"></i>
    </span>

    {{ value == 'full' ? 'Currently have limited full-time capacity' }}
    {{ value == 'part' ? 'Currently have limited part-time capacity' }}
</p>
