<li>
    <i class="mr1 fa fa-thumbs-o-down dark-red"></i>

    {{ value == 'full' ? 'Currently no spare full-time capacity.' }}
    {{ value == 'part' ? 'Currently no spare part-time capacity.' }}
</li>
