{% if page.skills %}
    <div class="project--skills">
        <h2>Skills</h2>

        <ul>
            {% for item in page.skills|sort %}
                <li>{{ site.skills[item].title }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
