---
layout: default
title: Talks
meta:
    description: 'Information about previous and upcoming talks that Oliver has presented at conferences and user groups'
use: [talks]
---
{% block content %}
    <p>
        I regularly speak at conferences and user groups about a range of subjects including Drupal, Sculpin and Git.
        If you would like to me to speak at your group or conference, please <a href="/contact" class="link">get in touch</a>.
    </p>

    <div class="mb-6">
        <h2>Upcoming Talks</h2>

        {% set upcoming_talks = getUpcomingTalks(data.talks|merge(site.talks), site.events) %}
        {% if not upcoming_talks.empty %}
            {% include "talks-table" with {
                talks: upcoming_talks,
                upcoming: true,
            } %}
        {% else %}
            <p>Nothing scheduled at the moment.</p>
        {% endif %}
    </div>

    <div>
        <h2>Last 5 Talks</h2>

        {% include "talks-table" with {
            talks: getPastTalks(data.talks|merge(site.talks), site.events)|slice(0,5)
        } %}

        <p>To see more of my previous talks, go to the <a href="/talks/archive" class="link">talks archive</a>.</p>
    </div>
{% endblock %}
