@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap'

@import 'base'
@import 'mixins'

@import 'base/layout'
@import 'base/typography'

@import 'components/availability'
@import 'components/badges'
@import 'components/footer'
@import 'components/meetups'

.skills-list
    margin: 1em 0
    padding: 0

.skill
    margin: 0 10px 15px 0

.skill-image
    height: 40px
    width: auto
