@import "node_modules/tachyons-sass/scss/colors";

$blue: #0678be

@import "node_modules/tachyons-sass/tachyons";

p,
li,
td
    a
        color: $blue

.video
    padding: 56.25% 0 0

.video iframe,
.video embed 
  height: 100%
  left: 0
  position: absolute
  top: 0
  width: 100%
