.talk-event-table
    & > thead > tr > th,
    & > tbody > tr > td
        vertical-align: middle

.talk-type,
.event-location
    display: block
    margin-top: 1px

.talk-full .column-event
    width: auto
