---
import AboutMe from "~/components/AboutMe.astro";
import Layout from "~/layouts/Layout.astro";
import Markdown from "~/components/Markdown.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post) => {
    return {
      params: { slug: post.slug },
      props: { post },
    };
  });
}

const { Content } = await Astro.props.post.render();
const { title } = Astro.props.post.data;
---

<Layout title={title}>
  <div class="space-y-6">
    <Markdown>
      <Content />
    </Markdown>

    <AboutMe />
  </div>
</Layout>
