<footer class="border-grey-light border-t mb-8 mt-10 pt-5 text-sm">
    <div class="md:flex md:justify-between">
        <div>
            <p>&copy; 2010-{{ 'now'|date('Y') }} {{ site.title }}</p>
        </div>

        <div>
            <p>
                Built with <a class="no-underline hover:underline" href="https://sculpin.io">Sculpin</a> and <a class="no-underline hover:underline" href="https://tailwindcss.com">Tailwind CSS</a>,
                and hosted on <a class="no-underline hover:underline" href="https://www.netlify.com">Netlify</a>.
            </p>
        </div>
    </div>
</footer>
