<div class="border-bottom border-b border-grey-light mb-6">
    <div class="container mx-auto v-cloak-block">
        <div class="block py-5">{{ site.title }}</div>
    </div>

    <navbar site-name="{{ site.title }}" page-url="{{ page.url }}"></navbar>
</div>
