<div class="border-bottom border-b border-grey-light mb-6 fixed top-0 w-full bg-white z-20">
    <div class="px-4 md:px-8 mx-auto">
        <div class="block py-5 v-cloak-block">
            <div class="font-semibold text-sm">{{ site.title }}</div>
        </div>

        <navbar site-title="{{ site.title }}" page-url="{{ page.url }}"></navbar>
    </div>
</div>
