<div class="border-bottom border-b border-gray-300 mb-6 fixed top-0 w-full bg-white z-20">
    <div class="container px-4 mx-auto">
        <div class="block py-5 v-cloak-block">
            <div class="text-sm">
                <a href="/" class="text-black" tabindex="-1">
                    {{ site.title }}
                </a>
            </div>
        </div>

        <navbar site-title="{{ site.title }}" page-url="{{ page.url }}"></navbar>
    </div>
</div>
