@layer utilities {
  @variants dark {
    .text-decoration-blue-400 {
      text-decoration-color: theme('colors.blue.400');
    }

    .text-decoration-blue-primary {
      text-decoration-color: theme('colors.blue.800');
    }

    .text-decoration-white {
      text-decoration-color: theme('colors.white');
    }
  }
}
