<div class="slides">
    <noscript>**Please enable JavaScript to view slides.**</noscript>
    <script
        class="speakerdeck-embed"
        data-id="{{ data.id }}"
        data-ratio="{{ data.ratio ?: '1.29456384323641' }}"
        src="//speakerdeck.com/assets/embed.js"
    ></script>
</div>
