.project--skills {
    ul {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
    }

    li {
        display: inline-block;
        margin-right: 5px;
    }

    img {
        max-height: 30px;
    }
}

.project--company__has-logo {
    a:link,
    a:hover {
        border-bottom: 0;
        display: block;
    }

    img {
        max-height: 50px;
    }
}
