<footer class="border-gray-300 border-t mb-8 mt-10 pt-5 text-sm">
    <div class="md:flex md:justify-between">
        <div>
            <p>&copy; 2010-{{ 'now'|date('Y') }} {{ site.title }}</p>
        </div>

        <div class="mt-4 md:mt-0">
            <p>
                Built with <a href="https://sculpin.io">Sculpin</a>,
                <a href="https://vuejs.org">Vue.js</a>
                and <a href="https://tailwindcss.com">Tailwind CSS</a>,
                stored on <a href="https://github.com/opdavies/oliverdavies.uk">GitHub</a>
                and hosted on <a href="https://www.netlify.com">Netlify</a>.
            </p>
        </div>
    </div>
</footer>
