{% if page.skills %}
    <div class="project--skills">
        <h2>Skills</h2>

        <ul>
            {% for skill in page.skills %}
                <li>{{ skill }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
