---
title: Contact
use: [posts]
honeypot_field: Qr4W7oB25C
---
{% block content %}
    <div class="mt-2 mb-6">
        <p>To send me an email, complete the form below.</p>
    </div>

    <form name="contact" method="POST" netlify-honeypot="{{ page.honeypot_field }}" data-netlify="true" class="spaced-y-4">
        <div class="spaced-y-1">
            <label for="name" class="block">Name</label>
            <input type="text" class="w-full p-2 border border--grey" id="name" name="name" required />
        </div>

        <div class="spaced-y-1">
            <label for="email" class="block">Email</label>
            <input type="email" class="w-full p-2 border border--grey" id="email" name="email" required />
        </div>

        <div class="spaced-y-1">
            <label for="subject" class="block">Subject</label>
            <input type="text" class="w-full p-2 border border--grey" id="subject" name="subject" required />
        </div>

        <div class="spaced-y-1">
            <label for="message" class="block">Message</label>
            <textarea id="message" class="w-full p-2 border border--grey" rows="5" name="message" required></textarea>
        </div>

        <p class="hidden">
            <label>Don’t fill this out if you're human: <input name="{{ page.honeypot_field }}" /></label>
        </p>

        <div>
            <button class="button" type="submit">Send email</button>
        </div>

        <input type="hidden" name="_next" value="{{ site.url }}/contact/thanks" />
    </form>
{% endblock %}
