<!DOCTYPE html>
<html lang="{{ site.locale|default('en') }}">
    <head>
        <link type="text/css" rel="stylesheet" href="/build/app.css"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,700;1,300&display=swap" rel="stylesheet">

        {% include 'meta' with { page, site } only %}

        <script src="https://cdn.usefathom.com/script.js" data-site="{{ site.fathom.id }}" defer></script>

        {% include 'plausible' with {
            plausible: site.plausible,
        } only %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
