{% extends 'app' %}

{% block body %}
    <div class="min-h-screen font-sans text-base font-light text-gray-900 md:text-xl dark:text-white dark:bg-gray-900">
        <a class="sr-only focus:not-sr-only" href="#main-content">Skip to main content</a>

        {% include 'navbar' %}

        <div class="py-10 px-4 mx-auto max-w-2xl md:py-16">
            <div id="main-content">
                <h1 class="text-xl font-bold md:text-2xl">
                    {% block page_title %}
                        {{ page.title }}
                    {% endblock %}
                </h1>

                <div class="mt-4">
                    {% block content_wrapper %}
                        {% block content %}{% endblock %}
                    {% endblock %}
                </div>
            </div>

            {% include 'footer' %}
        </div>
    </div>
{% endblock %}
