<!DOCTYPE html>
<html class="no-js" lang="en-GB">
    {% include 'head.html.twig' %}
    <body class="text-grey-darkest text-sm leading-normal">
        {% include 'nav.html.twig' %}

        <div class="container mx-auto px-4">
            <div class="md:flex -mx-4">
                <main class="md:w-3/4 px-4 mb-8 lg:mb-0" role="main">
                    {% block content_top %}{% endblock %}
                    {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
                    {% block content_bottom %}{% endblock %}
                </main>

                {% include 'sidebar.html.twig' %}
            </div>

            {% include 'footer.html.twig' %}
        </div>

        {% include 'scripts.html.twig' %}
    </body>
</html>
