{% extends 'app' %}

{% block body %}
    <a href="#main-content" class="skip-link w-full text-center text-white bg-blue p-4 focus:outline-none">Skip to main content</a>

    {% include 'layout/navbar' %}

    <div class="mt-24 max-w-xl px-4 mx-auto">
        <main id="main-content">
            {% block page_title_wrapper %}
                <h1 class="leading-tight mb-4">
                    {% block page_title %}{{ page.title }}{% endblock %}
                </h1>
            {% endblock %}

            {% block content_wrapper %}
                {% block content %}{% endblock %}
            {% endblock %}
        </main>

        {% include 'layout/footer' %}
    </div>
{% endblock %}
