<!DOCTYPE html>
    <!--[if lte IE 8]><html class="ie ie8 lt9 lte8 lte7"> <![endif]-->
    <!--[if IE 9]><html class="ie ie9 lte9"> <![endif]-->
    <!--[if gt IE 9]><html><![endif]-->
    <!--[if !IE]><!--><html><!--<![endif]-->
    {% include 'head' %}
    <body class="{% block body_classes %}{% endblock %}">
        {% include 'navbar' %}

        <div class="container">
            <div class="row">
                {% block content_wrapper %}
                    <main class="col-md-10">
                        {% block content %}{% endblock %}
                    </main>
                {% endblock %}

                {% include 'sidebar' %}
            </div>{# .row #}
        </div>{# .container #}

        {% include 'footer_content' %}
        {% include 'footer_scripts' %}
    </body>
</html>
