{% extends 'app' %}

{% block body %}
    {% include 'layout/navbar' %}

    <div class="container mt-24 flex flex-col flex-1">
        <main id="main-content" class="flex-1 wrap {{ page.layout == 'front' ? 'is-wide' : '' }}">
            {% block page_title_wrapper %}
                <h1 class="leading-tight mb-4">
                    {% block page_title %}{{ page.title }}{% endblock %}
                </h1>
            {% endblock %}

            {% block content_wrapper %}
                {% block content %}{% endblock %}
            {% endblock %}
        </main>

        {% include 'layout/footer' %}
    </div>
{% endblock %}
