{% extends 'app' %}

{% block body %}
    <div class="font-sans text-base font-light text-gray-900 md:text-lg dark:bg-gray-900 dark:text-white">
        <a class="sr-only focus:not-sr-only" href="#main-content">Skip to main content</a>

        {% include 'navbar' %}

        <div class="py-16">
            <div id="main-content" class="max-w-2xl px-4 mx-auto">
                {% block content_wrapper %}
                    {% block content %}{% endblock %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
