{% extends 'app' %}

{% block body %}
    <navbar site-name="{{ site.title }}" page-url="{{ page.url }}"></navbar>

    <div class="container mx-auto px-4">
        <div class="md:flex -mx-4">
            <main class="md:w-3/4 px-4 mb-8 lg:mb-0" role="main">
                {% block content_top %}{% endblock %}
                {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
                {% block content_bottom %}{% endblock %}
            </main>

            {% block sidebar_wrapper %}
                <div class="md:w-1/4 px-4" role="complementary">
                    {% block sidebar %}
                        {% include 'availability' %}
                        {% include 'posts/latest' %}
                        {% include 'badges' %}
                    {% endblock %}
                </div>
            {% endblock %}
        </div>

        <footer class="border-t border-grey-light pt-4 mt-4" role="contentinfo">
            <p>
                &copy; 2010-{{ 'now'|date('Y') }} {{ site.title }}.
                Built with <a class="link" href="https://sculpin.io">Sculpin</a> and <a class="link" href="https://tailwindcss.com">Tailwind CSS</a>.
                Hosted on <a class="link" href="https://www.netlify.com">Netlify</a>.
            </p>

            {% include 'meetups' %}
        </footer>
    </div>
{% endblock %}
