{% extends 'base' %}

{% block content_wrapper %}
    <div class="markdown">
        {% if page.intro_text %}
            <p class="max-w-lg">{{ page.intro_text }}</p>
        {% endif %}

        {{ parent() }}
    </div>
{% endblock %}
