{% extends 'default' %}

{% block content_wrapper %}
    {% include 'post/header' %}
    {% include 'post/intro-image' %}

    <div class="markdown mb-6">
        {% include 'post/old-post-message' %}
        {{ page.summary|markdown }}
        {% block excerpt %}{% endblock %}
        {% block content %}{% endblock %}
    </div>

    {% include 'post/questions-comments' %}
    {% include 'post/tags' %}
    {% include 'post/pager' %}
    {% include 'post/about-author' %}
{% endblock %}

{% block scripts %}
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
