{% extends 'base' %}

{% block content_wrapper %}
    <div class="space-y-10">
        <div>
            <div class="markdown">
                {{ parent() }}
            </div>
        </div>

        {% include 'about-author' %}
    </div>
{% endblock %}
