{% extends 'default' %}

{% block page_title_wrapper %}{% endblock %}

{% block metas %}
    {{ parent() }}
    <meta name="og:description" content="{{ page.excerpt }}">
    <meta name="twitter:description" content="{{ page.excerpt }}">
{% endblock %}

{% block content_wrapper %}
    {% include 'post/header' %}
    {% include 'post/intro-image' %}

    <div class="markup post mb-6">
        {% include 'post/old-post-message' %}
        {% block content %}{% endblock %}
    </div>

    <div class="mb-6">
        {% include 'post/questions-comments' %}
        {% include 'post/tags' %}
    </div>

    {% include 'post/about-author' %}
{% endblock %}
