{% extends 'page' %}

{% block content_wrapper %}
    <div>
        {% block content %}{% endblock %}
    </div>

    {% include 'talk/slides' %}
    {% include 'talk/video' %}
    {% include 'talk/events' %}
{% endblock %}
