{% extends 'page' %}

{% block body_classes 'talk talk-full' %}

{% block content_wrapper %}
    <div>
        {% block content %}{% endblock %}
    </div>

    {% if page.slides.embed %}
        <div class="mt-2">
            <h2>Slides</h2>
            <div class="talk-slides">
                {{ page.slides.embed|raw }}
            </div>
        </div>
    {% endif %}

    {% if page.video.embed %}
        <div class="mt-2">
            <h2>Video</h2>
            <div class="embed-container">
                {{ page.video.embed|raw }}
            </div>
        </div>
    {% endif %}

    <div class="mt-3">
        <h2>Events</h2>

        {% set events = [] %}
        {% for date in site.events.dates %}
            {% set key = (date.talk.id is defined) ? date.talk.id : date.talk %}
            {% set talk = (page.id is defined) ? page.id : page.url|split('/')|last %}
            {% if key == talk %}
                {% set events = events|merge([{
                    date: date,
                    event: site.events.events[date.event],
                }]) %}
            {% endif %}
        {% endfor %}

        {% include 'talks-table' with {
            events: events,
            talk_page: true,
        } %}
    </div>
{% endblock %}
