{% extends 'page' %}

{% block content_wrapper %}
    <div>
        <div class="mb-4 text-grey">
            {{ page.date|date('jS F Y') }}
        </div>

        <div>
            {{ page.summary|markdown }}
            {% block content %}{% endblock %}
        </div>
    </div>

    {% include 'talk/slides' %}
    {% include 'talk/video' %}
{% endblock %}
