{% extends 'default' %}

{% block metas %}
    {{ parent() }}
    <meta name="og:description" content="{{ page.description }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="{{ page.description }}">
{% endblock %}

{% block content_wrapper %}
    <div class="spaced-y-8">
        <div class="markup spaced-y-4">
            {% block content %}{% endblock %}
        </div>

        {% include 'talk/slides' %}
        {% include 'talk/video' %}
        {% include 'talk/tweets' %}
        {% include 'talk/events' with { events: get_events_for_talk(page, site.events) } only %}
    </div>
{% endblock %}
