{% extends 'page' %}

{% block content_wrapper %}
    <div>
        {% block content %}{% endblock %}
    </div>

    {% include 'talk/slides' %}
    {% include 'talk/video' %}
    {% include 'talk/events' %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ site.url }}/assets/css/talk.css">
{% endblock %}
