{% extends 'page' %}

{% block content_wrapper %}
    <div>
        <div class="markdown">
            {{ page.summary|markdown }}
            {% block content %}{% endblock %}
        </div>
    </div>

    {% include 'talk/slides' %}
    {% include 'talk/video' %}
    {% include 'talk/events' %}
{% endblock %}
