{% extends "default.html.twig" %}

{% block body_classes 'page--talks page--talks__talk' %}

{% block content_wrapper %}
    <main class="col-md-10">
        <h1>{{ page.title }}</h1>

        {{ page.blocks.content|raw }}
    </main>
{% endblock %}
