{% extends 'base' %}

{% block content_wrapper %}
    <div class="space-y-10">
        <div class="space-y-6">
            <div class="markdown">
                {{ parent() }}
            </div>

            {% include 'talk/slides' with {
                speakerdeck: page.speakerdeck,
            } only %}

            {% include 'talk/video' with {
                video: page.video,
            } only %}

            {% include 'talk/event-list' with {
                events: page.events|reverse,
            } only %}
        </div>

        {% include 'about-author' with {
            avatar: site.avatar,
            work: site.work,
        } only %}
    </div>
{% endblock %}
