{% extends 'default' %}

{% block content_wrapper %}
    <div class="markdown">
        {% block content %}{% endblock %}
    </div>

    {% include 'talk/slides' %}
    {% include 'talk/video' %}
    {% include 'talk/tweets' %}
    {% include 'talk/events' %}
{% endblock %}
