{% extends 'page' %}

 {% block breadcrumb %}
    <div class="breadcrumb border-b border-grey-lighter mb-6 -mt-6 bg-grey-lightest">
        <div class="container mx-auto px-4">
            <ul class="flex pl-0 mb-0">
                <li class="list-reset flex items-center">
                    <a class="inline py-2" href="{{ site.url }}/">Home</a>
                    {% include "svg/chevron-right" with { class: 'text-grey-light mx-1', style: "height: 20px" } %}
                </li>
                <li class="list-reset flex items-center">
                    <a class="inline py-2" href="{{ site.url }}/talks">Talks</a>
                     {% include "svg/chevron-right" with { class: 'text-grey-light mx-1', style: "height: 20px" } %}
                </li>
                <li class="list-reset flex truncate">
                    <span class="inline py-2 truncate">{{ page.title }}</span>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block content_wrapper %}
    <div>
        <h2>Abstract</h2>

        {% block content %}{% endblock %}
    </div>

    {% include 'talk/slides' %}
    {% include 'talk/video' %}
    {% include 'talk/events' %}
{% endblock %}
