<a
    href="{{ post.url }}"
    class="inline-block bg-blue hover:bg-blue-dark focus:bg-blue-dark px-5 py-2 rounded-full no-underline hover:underline focus:underline text-white text-sm">
        Read more
        <span class="visuallyhidden">about {{ post.title }}</span>
</a>
