<a
    href="{{ post.url }}"
    class="inline-block bg-blue hover:bg-blue-dark focus:bg-blue-dark px-4 py-3 rounded no-underline hover:underline focus:underline text-white">
        Read more
        <span class="visuallyhidden">about {{ post.title }}</span>
</a>
