<aside class="block sm:flex md:block -mx-4">
    <div class="px-4">
        <section class="widget">
            <div class="max-w-xs md:max-w-full mx-auto">
                <a href="https://assoc.drupal.org/membership" title="I’m a Drupal Association member." class="block mb-4 px-4 md:px-0 mx-10">
                    <img src="/images/badges/da-individual-member.png" alt="Drupal Association Individual Member"/>
                </a>
            </div>
        </section>
    </div>

    <div class="px-4">
        <section class="widget bg-gray-300 p-4 rounded">
            <div class="-mb-3">
                <h2 class="visuallyhidden">Certifications</h2>

                {% include 'about/certification' with {
                    title: 'Acquia certified Grand Master - Drupal 8',
                    url: 'http://certification.acquia.com/user/1647756',
                    image: {
                        filename: 'acquia-d8-grand-master.png',
                        alt: 'Acquia Certified Grand Master - Drupal 8 Exam Badge',
                    },
                } %}

                {% include 'about/certification' with {
                    title: 'Acquia certified Developer - Drupal 8',
                    image: {
                        filename: 'acquia-d8-developer.png',
                        alt: 'Acquia Certified Developer - Drupal 8 Exam Badge',
                    },
                } %}

                {% include 'about/certification' with {
                    title: 'Acquia certified Back End Specialist - Drupal 8',
                    image: {
                        filename: 'acquia-d8-back-end.png',
                        alt: 'Acquia Certified Back End Specialist - Drupal 8 Exam Badge',
                    },
                } %}

                {% include 'about/certification' with {
                    title: 'Acquia certified Front End Specialist - Drupal 8',
                    image: {
                        filename: 'acquia-d8-front-end.png',
                        alt: 'Acquia Certified Front End Specialist - Drupal 8 Exam Badge',
                    },
                } %}

                {% include 'about/certification' with {
                    title: 'Acquia certified Cloud Pro',
                    image: {
                        filename: 'acquia-cloud-pro.png',
                        alt: 'Acquia Certified Cloud Pro Exam Badge',
                    },
                } %}
            </div>
        </section>
    </div>
</aside>
