---
interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<aside
  class="p-6 my-8 border border-gray-300 dark:bg-gray-800 dark:border-gray-700"
>
  <h2 class="mt-0">{title}</h2>

  <slot />
</aside>
