{% if toc %}
    <ul>
        {% for title in toc %}
            <li>
                <a href="#{{ title|lower|replace({ ' ': '-' }) }}">{{ title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
