.experience-item
    margin-bottom: $padding-large-vertical * 3
    +clearfix

.experience-item-inner
    flex: 1 1 100%

.experience-item-website
    display: inline-block
    margin-bottom: 2px

.experience-item-role
    color: $gray-light
    margin-bottom: .625rem

.experience-item-logo
    flex: 1 3 250px
    margin-left: 1.5em
    margin-top: 25px

    img
        height: auto
        width: 100%

.experience-item-description p:last-of-type
    margin-bottom: 0
