---
interface Props {
  id: string;
  type: string;
}

const { id, type }: Props = Astro.props;
---

{
  type == "youtube" && (
    <div>
      <h2 class="mb-2">Video</h2>

      <div>
        <iframe
          allowfullscreen
          class="w-full aspect-[16/9]"
          frameborder="0"
          src={`https://www.youtube.com/embed/${id}?rel=0&iv_load_policy=3`}
        />
      </div>
    </div>
  )
}
