@import '~highlightjs/styles/github-gist.css';

@tailwind base;

h1, h2, h3 {
  @apply font-bold
}

h1 {
  @apply text-3xl
}

h2 {
  @apply text-2xl
}

img {
  @apply max-w-full h-auto
}

a {
  @apply text-blue-600 no-underline;

  &:hover {
    @apply underline
  }
}

@tailwind components;

@import 'components/blockquote.css';
@import 'components/button.css';
@import 'components/markup.css';
@import 'components/note.css';
@import 'components/talks/video.css';
@import 'components/table.css';
@import 'components/widget.css';

@tailwind utilities;
