.is-centered
    margin: 0 auto

.is-flex
    display: flex

.is-half
    width: 50%

.flex
    flex: 1

.flex-wrap
    flex-wrap: wrap

.list-style-none
    list-style: none

@each $value in 'block' 'inline' 'inline-block'
    .display-#{$value}
        display: #{$value}
