.is-centered
    margin: 0 auto

.is-half
    width: 50%

.flex
    flex: 1

.flex-wrap
    flex-wrap: wrap

.list-style-none
    list-style: none !important

.align-items-center
  align-items: center

//@each $value in 'block', 'inline', 'inline-block', 'flex'
//    .display-#{$value},
//    .is-#{$value},
//        display: #{$value}

@each $value in 'top', 'middle', 'bottom'
    .table
        & > thead > tr > th,
        & > thead > tr > td,
        & > tbody > tr > th,
        & > tbody > tr > td,
        & > tfoot > tr > th,
        & > tfoot > tr > td
            &.vertical-#{$value}
                vertical-align: #{$value}

$properties: ( mb: 'margin-bottom', ml: 'margin-left', mr: 'margin-right', mt: 'margin-top', pb: 'padding-bottom', pl: 'padding-left', pr: 'padding-right', pt: 'padding-top' )
@each $key, $property in $properties
    @for $value from 1 through 5
        .#{$key}-#{$value}
            #{$property}: #{$value}em !important
