{% if events is not empty %}
    <div class="markdown">
        <h2>Events</h2>

        <ul>
            {% for event in events|sort((a, b) => a.date > b.date) %}
                {% include 'talk/events/event.html.twig' with {
                    date: event.date,
                    is_online: event.is_online ?? false,
                    location: event.location,
                    name: event.name,
                    url: event.url,
                } only %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
