{% if page.event %}
    <h2>Details</h2>

    <ul>
        <li>
            Event:
            {% if page.event.website %}<a href="{{ page.event.website }}">{%- endif -%}
            {{ page.event.name }}
            {%- if page.event.website -%}</a>{%- endif %}
        </li>
        <li>Date: {{ page.date|date(site.default_date_format) }}</li>
        <li>Location: {{ page.event.location }}</li>
    </ul>
{% endif %}
