{% set talks = getAllTalks([page], site.events) %}
{% if talks is not empty %}
    <div class="mt-8">
        <h2 class="mb-2">Events</h2>

        {% include "talks/table" with {
            talks: talks|reverse,
            talk_page: true
        } %}
    </div>
{% endif %}
