{% if page.events %}
    <div class="mt-8">
        <h2 class="mb-2">Presented at</h2>

        <ul class="markup">
            {% for event in page.events %}
                <li>
                    {% set eventData = site.events[event.event] %}
                    {% if eventData.url %}
                        <a href="{{ eventData.url }}">{{ eventData.name }}</a>
                    {% else %}
                        {{ eventData.name }}
                    {% endif %}
                    {% if eventData.location %}
                        in {{ eventData.location }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
