{% import 'helpers' as helpers %}

{% if page.events %}
    <div>
        <h2 class="mb-2">Presented at</h2>

        <ul class="markup list-disc ml-5">
            {% for event in page.events if not event.date is empty %}
                <li>
                    {{ helpers.talkEventName(event) }}
                    <span class="text-gray-800">- {{ event.date|date('jS F Y') }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
