<div class="talk-pager is-flex">
    {% if page.previous_talk %}
        <div class="is-half">
           <a href="{{ page.previous_talk.url }}">
                &laquo; {{ page.previous_talk.title }}
            </a>
        </div>
    {% endif %}

    {% if page.next_talk %}
        <div class="is-half text-right">
            <a href="{{ page.next_talk.url }}">
                {{ page.next_talk.title }} &raquo;
            </a>
        </div>
    {% endif %}
</div>
