@layer components {
  .markdown {
    * + * {
      @apply mt-4;
    }

    h2 + * {
      @apply mt-2;
    }

    h2 {
      @apply mt-6;
    }

    ul {
      @apply pl-6 list-disc;
    }

    li {
      @apply mt-0;
    }
  }

  .visually-hidden {
    @apply sr-only;
  }
}
