@layer components {
  .link {
    @apply inline-block underline text-blue-primary hover:text-blue-900 dark:text-blue-400 dark:hover:text-white;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.1em;
  }

  .visually-hidden {
    @apply sr-only;
  }
}
