h1, h2, h3 {
  @apply font-bold
}

h1 {
  @apply text-3xl
}

h2 {
  @apply text-2xl
}

img {
  @apply max-w-full h-auto
}

a {
  @apply text-blue-700 no-underline;

  &:hover {
    @apply underline
  }
}

blockquote {
  @apply pl-5 border-l-4 border-gray-300 italic
}
