@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Roboto Condensed;
    font-weight: 300 400 500 700;
    src: url('../assets/fonts/RobotoCondensed-VariableFont_wght.ttf') format('truetype');
  }
}
