---
title: Daily emails archive
permalink: /archive
use:
    - daily_emails
---

<ul>
    {% for email in data.daily_emails|reverse %}
        <li>
            <a href="{{ site.url }}{{ email.url|trim('/', 'right') }}">
                {{ email.date|date('jS F Y') }}
                - {{ email.title }}
            </a>
        </li>
    {% endfor %}
</ul>
