---
title: Oliver's Daily List
meta:
    title: Oliver's Daily Mailing List
    description: A daily newsletter on software development, DevOps, community and open-source.
---

{% block content %}
    {% embed "daily-email-form" %}
        {% block description %}
            <p><strong>A daily newsletter on software development, DevOps, community, and open-source.</strong></p>
        {% endblock %}
    {% endembed %}
{% endblock %}
