---
title: Links
links:
  -
    title: Twitter
    url: '%site.twitter.url%'
  -
    title: YouTube
    url: '%site.youtube.channel.url%'
  -
    title: LinkedIn
    url: '%site.linkedin.url%'
  -
    title: Drupal.org
    url: '%site.drupalorg.url%'
  -
    title: GitHub
    url: '%site.github.url%'
  -
    title: GitHub Gists
    url: '%site.github.gist.url%'
  -
    title: Packagist
    url: '%site.packagist.url%'
  -
    title: Speakerdeck
    url: '%site.speakerdeck.url%'
  -
    title: PHP South Wales
    url: https://www.phpsouthwales.uk
---

<div class="max-w-md mx-auto">
    <ul class="p-0 list-none space-y-4">
        {% for link in page.links %}
            <li>
                <a
                    class="
                        w-full p-2 block border text-center no-underline text-black transition ease-in-out duration-200
                        hover:text-white hover:bg-blue-primary focus:text-white focus:bg-blue-primary
                        dark:text-white dark:hover:text-black dark:focus:text-black dark:hover:bg-white dark:focus:bg-white
                    "
                    href="{{ link.url }}?utm_source=oliverdavies.uk&utm_medium=links"
                >
                    {{ link.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
