<div class="mt4">
    <h2>Events</h2>

    {% set talks = [] %}
    {% for event in page.events %}
        {% set talks = talks|merge([{
            event: event|merge(site.events[event.event]),
            talk: page,
        }]) %}
    {% endfor %}

    {% include "talks-table" with { talk_page: true } %}
</div>
