---
import { getCollection } from 'astro:content';
import _ from "lodash";

interface Props {
  names: string[];
}

const defaultNames = [
  'adam-cuddihy',
  'anonymous',
  'huw-davies',
  'michael-itkoff',
  'mick-felton',
  'scott-euser',
];

const names = _(Astro.props.names || defaultNames);

const testimonials = await getCollection('testimonial', ({ id }) => names.includes(id));

const sortedTestimonials = _(testimonials)
  .sort((a, b) => new Date(a.date) < new Date(b.date))
  .reverse()
  .value();
---

{testimonials && (
  <h2>What others have said</h2>

  <div class="mt-6 space-y-14">
    {_(sortedTestimonials).map(({ data: { image, name, tagline, text } }) => (
      <article>
        <blockquote class="mt-4" set:html={text} />

        <footer class="flex items-center space-x-4 space-x-reverse">
          <span class="text-base">{name}{tagline && (<> - {tagline}</>)}</span>

          {image && (
            <span class="order-first not-prose">
              <img width="50" height="50" class="rounded-full border w-15 h-15" src={`/images/recommendations/${image}`} />
            </span>
          )}
        </footer>
      </article>
    ))}
  </div>
)}
