---
import { getCollection, getEntries, getEntry } from 'astro:content';
import _ from "lodash";

interface Props {
  names: string[];
}

const names = _(Astro.props.names);
const testimonials = await getCollection('testimonial', ({ id }) => names.includes(id));
const reversedTestimonials = _(testimonials).reverse()
---

{testimonials && (
  <h2>What others have said</h2>

  <div class="mt-6 space-y-14">
    {reversedTestimonials.map(testimonial => (
      <article>
        <blockquote class="mt-4" set:html={testimonial.data.text} />

        <footer class="flex items-center space-x-4 space-x-reverse">
          <span class="text-base">{testimonial.data.name} - {testimonial.data.tagline}</span>

          {testimonial.data.image && (
            <span class="order-first not-prose">
              <img width="50" height="50" class="rounded-full border w-15 h-15" src={`/images/recommendations/${testimonial.data.image}`} />
            </span>
          )}
        </footer>
      </article>
    ))}
  </div>
)}
