---
import Markdown from '../Markdown.astro';

interface Props {
  id: string;
  ratio?: string;
}

const { id, ratio }: Props = Astro.props;
---

<Markdown>
  <h2 class="mb-2">Slides</h2>

  <div class="slides">
    <noscript>**Please enable JavaScript to view slides.**</noscript>
    <script
      class="speakerdeck-embed"
      data-id={id}
      data-ratio={ratio ?? "1.29456384323641"}
      src="//speakerdeck.com/assets/embed.js"
    ></script>
  </div>
</Markdown>
