---
import Markdown from '../Markdown.astro';
import VimeoVideo from '../VimeoVideo.astro';
import YouTubeVideo from '../YouTubeVideo.astro';

interface Props {
  id: string;
  type: string;
}

const { id, type }: Props = Astro.props;
---

{
  type == "youtube" && (
    <Markdown>
      <h2 class="mb-2">Video</h2>

      <div>
        <YouTubeVideo id={id} />
      </div>
    </Markdown>
  )
}
{
  type == "vimeo" && (
    <Markdown>
      <h2 class="mb-2">Video</h2>

      <div>
        <VimeoVideo id={id} />
      </div>
    </Markdown>
  )
}
