---
import DailyEmailForm from '../../components/DailyEmailForm.astro'
import Layout from '../../layouts/DailyEmailLayout.astro'

export async function getStaticPaths({ paginate }) {
  const emails = await Astro.glob('../../daily-emails/*.md')
  const sortedEmails = emails
    .sort((a, b) =>
      new Date(b.frontmatter.pubDate).valueOf() -
      new Date(a.frontmatter.pubDate).valueOf()
    )

  return paginate(sortedEmails, { pageSize: 20 })
}

const { page } = Astro.props;
---

<Layout title="Daily emails archive">
  <ul>
    {page.data.map(email => (
      <li>
        <a href={`/${email.frontmatter.permalink}`}>
          {new Date(email.frontmatter.pubDate).toLocaleDateString('en-GB', {
            day: 'numeric',
            month: 'long',
            year: 'numeric',
          })} -
          {email.frontmatter.title}
        </a>
      </li>
    ))}
  </ul>

  <nav class="mt-12 flex justify-center">
    { page.url.prev ? <a class="px-2" href={ page.url.prev }>&larr; Newer emails</a> : null }
    { page.url.next ? <a class="px-2" href={ page.url.next }>Older emails &rarr;</a> : null }
  </nav>
</Layout>
