<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <title>{{ site.title }}</title>
  </head>
  <body>
    {% block content_wrapper %}
      {% block content %}{% endblock %}
    {% endblock %}
  </body>
</html>