<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if (page.url == '/') and (site.description) %}{{ site.description }}{% else %}{{ page.title }}{% endif %} | {{ site.title }}</title>
  </head>
  <body>
    {% include 'main-menu' %}
    {% block content_wrapper %}
      {% block content %}{% endblock %}
    {% endblock %}
  </body>
</html>