<div class="widget">
    <h2 class="mb-2">Availability</h2>

    <ul class="list-disc pl-5">
        {% for type, value in site.availability %}
            <li>
                {% include 'about/availability/' ~ value %}
            </li>
        {% endfor %}
    </ul>
</div>
