<section>
  <h2>About me</h2>

  <div>
    <img src="https://www.oliverdavies.uk/images/social-avatar.jpg" alt="Picture of Oliver">
    <p>I'm an Acquia-certified Drupal Triple Expert with 16 years of experience, an open-source software maintainer and Drupal core contributor, <a href="/talks">public speaker</a>, and host of the <a href="/podcast">Beyond Blocks podcast</a>.</p>
  </div>
</section>
