<div class="availability panel panel-default">
    <div class="panel-heading">Availability</div>

    <div class="panel-block">
        <div>
            {% for key, availability in site.availability %}
                {% include 'availability/' ~ availability with { value: key } %}
            {% endfor %}
        </div>
    </div>
</div>
