<div class="lh-copy">
    <h2>Availability</h2>

    <ul class="list pa0">
        {% for key, availability in site.availability %}
            {% include 'availability/' ~ availability with { value: key } %}
        {% endfor %}
    </ul>
</div>
