<div class="panel panel-default">
    <div class="panel-heading">Availability</div>

    <div class="panel-body">
        <p>
            <i class="fa fa-thumbs-o-down text-danger"></i> Not available for day contract work.
        </p>

        <p style="margin-bottom: 0">
            <i class="fa fa-thumbs-o-up text-warning"></i> Limited availability for weekend/evening freelance work.
        </p>
    </div>
</div>
