<div class="widget">
    <h2>Availability</h2>

    <ul class="list-reset">
        {% for type, value in site.availability %}
            <li class="block mb-1">
                {% include 'availability/' ~ value %}
            </li>
        {% endfor %}
    </ul>
</div>
