<div class="block mb-4">
    <h2>Availability</h2>

    <ul class="">
        {% for type, value in site.availability %}
            <li>
                {% include 'availability/' ~ value %}
            </li>
        {% endfor %}
    </ul>
</div>
