<div>
  <div class="px-4 md:px-6 max-w-4xl mx-auto">
    <div class="text-center">
      <p>
        Is your New Year's resolution to deliver better software, faster?
        I have availability for <a href="{{ site.url }}/team-coaching">team coaching starting in January 2024</a>.
      </p>
    </div>
  </div>
</div>
