{% if site.banner_text %}
  <div class="p-3 bg-[#ffc82c] text-black text-base mb-4 dark:text-white dark:bg-[#856200]">
    <div class="min-w-full mx-auto px-6">
      <div class="mx-auto max-w-xl text-center {{ site.prose_classes }}">
        {{ site.banner_text|markdown }}
      </div>
    </div>
  </div>
{% endif %}
