<div class="my-4 not-prose {{ position == 'centre' ? 'flex justify-center' }}">
  <a class="inline-flex justify-center items-center py-3 px-6 w-full text-base font-medium text-white no-underline rounded-md duration-200 ease-in-out md:w-auto hover:bg-white focus:bg-white bg-blue-primary transition-color hover:text-blue-primary focus:text-blue-primary"href="{{ url }}">
    {{ text|raw }}
  </a>
</div>
