<section>
    <h2>Work with me and support the Drupal project</h2>

    <div>
        <p>5% from any Drupal-related product or service is donated to the <a href="https://www.drupal.org/association">Drupal Association</a>.</p>
    </div>
</section>
