<footer class="mt-20">
    <nav class="flex flex-wrap justify-center -mb-3">
        {% for link in site.menus.footer %}
            <a class="mx-3 mb-3 text-sm md:text-lg dark:text-white hover:text-gray-900 dark:hover:text-blue-400 link" href="{{ link.href }}">{{ link.title }}</a>
        {% endfor %}
    </nav>
</footer>
