<div class="mb-10 border border-grey-800 dark:border-grey-600">
  <div class="py-4 px-4 border-l-4 border-blue-primary">
    <div class="{{ site.prose_classes }}">
      <p>
        <strong>Work with me and support the Drupal project.</strong> 5% from any Drupal-related product or service is donated to the <a href="https://www.drupal.org/association">Drupal Association</a>.
      </p>
    </div>
  </div>
</div>
