<header class="w-100 ph4-ns bg-white bb b--light-gray mb2">
  <div class="db dt-ns mw9 center w-100">
    <div class="db dtc-ns v-mid tl w-30">
      <a href="/" class="dib f5 mt0 link black-70" title="Home">
        {{ site.title }}
      </a>
    </div>

    {% set links = [
        { title: 'About', href: '/', pattern: '/\\.' },
        { title: 'Experience', href: '/experience' },
        { title: 'Testimonials', href: '/testimonials' },
        { title: 'Talks', href: '/talks' },
        { title: 'Blog', href: '/blog' },
        { title: 'Contact', href: '/contact' }
    ] %}

    <nav class="db dtc-ns v-mid w-100 tl tr-ns mt2 mt0-ns">
        {% for link in links %}
            {% set classes = [
                'nav-item',
                not loop.first ? 'ml3',
                page.url matches '#^' ~ (link.pattern ?: link.href) ~ '/?#' ? 'nav-item--active',
            ] %}
            <a href="{{ link.href }}" class="{{ classes|join(' ') }}">
                {{- link.title -}}
            </a>
        {% endfor %}
    </nav>
  </div>
</header>
