<div class="navbar border-bottom border-b border-grey-lighter mb-6">
    <header class="container mx-auto px-4 flex items-center">
        <div class="w-1/4">
            <a href="/" class="" title="Home">
                {{ site.title }}
            </a>
        </div>

        <nav class="w-3/4 text-right">
            {% for link in site.nav_links %}
                <a href="{{ link.href }}"
                   class="inline-block pt-4 pb-3 ml-3 {{ page.url matches '#^' ~ (link.pattern ?: link.href) ~ '/?#' ? 'border-b-3 border-blue' }}">
                    {{- link.title -}}
                </a>
            {% endfor %}
        </nav>
    </header>
</div>
