{% block sidebar_wrapper %}
    <div class="col-md-3">
        {% block sidebar %}
            <div class="panel badges">
                <a class="badges__badge--da-member" href="https://assoc.drupal.org/membership" title="I’m a Drupal Association member.">
                    <img src="{{ site.images_url }}/assets/images/da-individual-member.png" alt="Drupal Association Individual Member">
                </a>

                <a href="https://www.drupal.org/8">
                    <img alt="I built Drupal 8 with hand holding a wrench on blue background" src="{{ site.images_url }}/assets/images/drupal-8.jpg"/>
                </a>
            </div>

            {% include('availability') %}

            {% if page.url == '/.' %}
                {% include ('latest-posts') %}
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
