{% block sidebar_wrapper %}
    <div class="md:w-1/4 px-4" role="complementary">
        {% block sidebar %}
            {% include 'availability' %}
            {% include 'posts/latest' %}
            {% include 'badges' %}
        {% endblock %}
    </div>
{% endblock %}
