<div class="overflow-auto">
    <table class="table">
        <thead>
            <tr>
                <th class="w-1/4">Date</th>

                {% if not talk_page %}
                    <th class="w-1/3">Talk</th>
                {% endif %}

                <th>Event</th>

                {% if not upcoming %}
                    <th>Feedback</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for row in talks %}
                {% include "talks-table-row" with {
                    today: 'today'|date('Y-m-d')
                } %}
            {% endfor %}
        </tbody>
    </table>
</div>
