<div class="overflow-auto">
    <table class="w-100 ba b--black-20">
        <thead>
            <tr class="striped--near-white">
                <th class="w-20-l pa2 tl bg-white">Date</th>

                {% if not talk_page %}
                    <th class="w-40-l pa2 tl bg-white">Talk</th>
                {% endif %}

                <th class="pa2 tl bg-white">Event</th>

                {% if not upcoming %}
                    <th class="w4 pa2 tl bg-white">Feedback</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% set today = 'today'|date('Y-m-d') %}
            {% for row in talks %}
                {% include "talks-table-row" %}
            {% endfor %}
        </tbody>
    </table>
</div>
