<aside>
  <h2>About me</h2>

  <div class="flex mt-4 space-x-4">
    <div class="flex-shrink-0">
      <img src="/images/social-avatar.jpg" alt="Picture of Oliver" class="w-16 h-16 rounded-full border border-gray">
    </div>

    <div>
      <p>
        Oliver Davies is a PHP Developer and Linux Systems Administrator based in the UK.
        He is a Full Stack Software Consultant specialising in Drupal application development, and a Lead Developer at <a href="https://tfw.wales" class="link">Transport for Wales</a>.
      </p>
    </div>
  </div>
</aside>
