---
import PageLayout from "~/layouts/PageLayout.astro";
import ListingPageItem from "./ListingPageItem.astro";

interface Item {
  description: string;
  title: string;
}

interface Props {
  items: Array<Item>;
  title: string;
}

const { items, title } = Astro.props as Props;
---

<PageLayout title={title}>
  <slot name="intro" />

  <div class="mt-6 space-y-6">
    {items.map((item) => <ListingPageItem item={item} />)}
  </div>
</PageLayout>
