<article>
    <h2>
        <a class="text-blue-primary dark:text-blue-400" href="{{ post.url }}">
            {{ post.title }}
        </a>
    </h2>

    <p class="mt-1">{{ post.excerpt }}</p>
</article>
