{% if page.tags %}
    <h2 class="visuallyhidden">Tags</h2>

    <ul class="list-reset flex flex-wrap spaced-y-2 spaced-x-3">
        {% for tag in page.tags|sort %}
            <li>
                <a href="/blog/tags/{{ tag }}" class="text-xs py-1 px-3 border-l-2 border-gray-500 bg-gray-200 text-gray-800 leading-none no-underline hover:underline focus:bg-gray-800 focus:text-white focus:outline-none">
                    {{- tag -}}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
