@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/clearfix'
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables'
@import 'mixins'

.experience-item
    margin-bottom: $padding-large-vertical * 3
    +clearfix

.experience-item-website
    margin-bottom: 2px

.experience-item-role
    margin-bottom: .625rem

.experience-item-logo
    float: right
    margin: 25px 0 1em 1.5em
    max-width: 25%
    +from(500px)
        max-width: 20%
    +desktop
        max-width: 15%

    img
        height: auto
        width: 100%

.experience-item-description p:last-of-type
    margin-bottom: 0
