.experience
    margin-bottom: $padding-large-vertical * 3
    +clearfix

    &__website
        display: inline-block
        margin-bottom: 2px

    &__role
        color: $gray-light
        margin-bottom: .625rem

    &__logo
        margin-left: 1.5em
        margin-top: 25px
        max-width: 25%

    img
        height: auto
        width: 100%

    p:last-of-type
        margin-bottom: 0

    +breakpoint(30rem)
        &__logo
            max-width: 15%

.experience.has-logo
    background:
        position: 100% (20px + 3px)
        repeat: no-repeat
        size: 90px
    +tablet
        background-size: 120px

.experience.has-logo .inner
    padding-right: calc(90px + 1em)
    +tablet
        padding-right: calc(120px + 1em)
