pre
    display: block
    overflow: auto
    word-break: normal
    word-wrap: no-wrap

pre[class*="language-"]
    border: 0
    border-radius: 0

pre code
    white-space: pre
    word-break: normal

code.hljs
    background-color: inherit
    padding: 0

code[data-gist-id]
    background: transparent
    padding: 0

.about-author img
    width: 50px
