.project
    &--company__has-logo
        a:link,
        a:hover
            border-bottom: 0
            display: block

        img
            max-height: 50px

    &__website
        @extend .btn
        @extend .btn-primary
