.talk-location,
.talk-slides,
.talk-video,
.talk-description
    margin-bottom: 2em

.talk-pager
    clear: both
    margin: 2em 0 .5em

.talk-pager div
    flex: 1

.talk-logo
    float: right
    margin: 0 0 2em 2em

.talk-logo img
    max-height: 100px
    max-width: 200px
