---
import AboutMe from "../components/AboutMe.astro";
import BaseLayout from "./PageLayout.astro";
import DailyEmailForm from "../components/DailyEmailForm.astro";
import Markdown from "../components/Markdown.astro";

const { title } = Astro.props.frontmatter || Astro.props;
---

<BaseLayout title={title}>
  <div class="space-y-16">
    <Markdown>
      <slot />
    </Markdown>

    <DailyEmailForm />

    <AboutMe />
  </div>
</BaseLayout>
