---
import AboutMe from "../components/AboutMe.astro";
import BaseLayout from "./PageLayout.astro";
import DailyEmailForm from "../components/DailyEmailForm.astro";
import Markdown from "../components/Markdown.astro";

const { episodeUrl, title } = Astro.props.frontmatter || Astro.props;
---

<BaseLayout title={title}>
  <div class="space-y-16">
    <div class="space-y-8">
      <div>
        <iframe width="100%" height="180" frameborder="no" scrolling="no" seamless="" src={episodeUrl}></iframe>
      </div>

      <Markdown>
        <slot />
      </Markdown>
    </div>

    <AboutMe />
  </div>
</BaseLayout>
