---
layout: default
title: Page Not Found
permalink: /404.html
---
{% block content_wrapper %}
  <div class="col-md-12">
    {% block content %}
      <h1>Page Not Found</h1>
    {% endblock %}
  </div> {# .col.md-12 #}
{% endblock %}

{% block sidebar %}{% endblock %}