---
layout: default
title: Blog
generator: pagination
pagination:
    max_per_page: 10
use: [posts]
---
{% block content %}
    <ul class="list-reset">
        {% for post in page.pagination.items %}
            <li class="mb-12">
                <h2 class="text-xl mb-2">{{ post.title }}</h2>

                {% include 'post/intro-image' with { page: post } %}

                <div class="markdown mb-4">
                    {% include 'pages/blog/teaser' %}
                </div>
            </li>
        {% endfor %}
    </ul>

    {% include 'post-pager' %}
{% endblock %}

{% block scripts %}
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
