---
layout: default
title: Contact
nav: contact
meta:
  description: 'Information about how to get in touch with Oliver.'
---
<h1>Contact</h1>

<p>The best way to contact me is via <a href="mailto:oliver+contact@oliverdavies.co.uk?subject=Contact%20Oliver%20Davies">email</a>.</p>

<p>If you have a support or feature request for one of the Drupal projects that I maintain, please create an issue in the appropriate issue queue on <a href="https://www.drupal.org">Drupal.org</a>.</p>

<p>If you want to report an issue or want to suggest any improvements to the site, you can do so on <a href="https://github.com/opdavies/opdavies.github.io/issues/new">GitHub</a>. I'm happy to receive <a href="https://help.github.com/articles/using-pull-requests">pull requests</a> if you want to suggest a change to piece of content.</p>

<h2>Elsewhere</h2>

<p>Here are the best places to contact me online:</p>

<ul>
  <li>IRC ({{ site.elsewhere.irc }})</li>
  <li><a href="{{ site.elsewhere.twitter }}">Twitter</a> (@opdavies)</li>
  <li><a href="{{ site.elsewhere.drupalorg }}">Drupal.org</a></li>
  <li><a href="{{ site.elsewhere.linkedin }}">LinkedIn</a></li>
</ul>

<h2>Meetups</h2>

<p>Here are the user group meetups that I attend regularly. If you're in the area, feel free to pop along and say hi!</p>

<ul>
  <li><a href="http://www.swdug.co.uk">SWDUG</a> (South Wales Drupal user group)</li>
  <li><a href="https://groups.drupal.org/bristol-and-west-uk">Drupal Bristol</a></li>
  <li><a href="http://www.phpsw.org.uk">PHPSW</a></li>
  <li><a href="http://www.swlug.org">SWLUG</a> (South Wales Linux user group)</li>
  <li><a href="http://www.accessiblebristol.org.uk">Accessible Bristol</a></li>
</ul>