---
title: Contact
layout: page
use: [posts]
---
{% block content %}
    <p>To send me an email, complete the form below.</p>

    <form action="https://formspree.io/{{ site.email }}" method="POST">
        <div class="form__name form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" required>
        </div>

        <div class="form__email form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" required>
        </div>

        <div class="form__subject form-group">
            <label for="subject">Subject</label>
            <input type="text" class="form-control" name="subject" required>
        </div>

        <div class="form__message form-group">
            <label for="message">Message</label>
            <textarea name="message" class="form-control" rows="5" required></textarea>
        </div>

        <div class="form__actions">
            <button class="btn btn-primary" type="submit">
                <i class="fa fa-send"></i>
                Send email
            </button>
        </div>

        <input type="hidden" name="_next" value="{{ site.url }}/contact-thanks/" />

        <input type="text" name="_gotcha" style="display: none" />
    </form>
{% endblock %}

{% block body_classes 'page--contact' %}
