---
title: Contact
layout: page
---
{% block content %}
    <p>To send me an email, complete the form below.</p>

    <form action="https://formspree.io/{{ site.email }}" method="POST">
        <div class="form__name">
            <label for="name">Name</label>
            <input type="text" name="name" required>
        </div>

        <div class="form__email">
            <label for="email">Email</label>
            <input type="email" name="email" required>
        </div>

        <div class="form__subject">
            <label for="subject">Subject</label>
            <input type="text" name="subject" required>
        </div>

        <div class="form__message">
            <label for="message">Message</label>
            <textarea name="message" rows="5" required></textarea>
        </div>

        <div class="form__actions">
            <input class="btn btn-primary" type="submit" value="Send email">
        </div>

        <input type="hidden" name="_next" value="{{ site.url }}/contact-thanks/" />

        <input type="text" name="_gotcha" style="display: none" />
    </form>
{% endblock %}

{% block body_classes 'page--contact' %}
