---
title: Contact
layout: page
use: [posts]
---
{% block content %}
    <p>To send me an email, complete the form below.</p>

    <form action="https://formspree.io/{{ site.email }}" method="POST">
        <div class="form__name field">
            <label for="name">Name</label>
            <div class="control">
                <input type="text" class="input" name="name" required>
            </div>
        </div>

        <div class="form__email field">
            <label for="email">Email</label>
            <div class="control">
                <input type="email" class="input" name="email" required>
            </div>
        </div>

        <div class="form__subject field">
            <label for="subject">Subject</label>
            <div class="control">
                <input type="text" class="input" name="subject" required>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <label for="message">Message</label>
                <textarea name="message" class="textarea" rows="5" required></textarea>
            </div>
        </div>

        <div class="form__actions">
            <button class="button is-primary" type="submit">
                <span class="icon is-small" style="margin-right: 5px">
                    <i class="fa fa-send"></i>
                </span>
                Send email
            </button>
        </div>

        <input type="hidden" name="_next" value="{{ site.url }}/contact-thanks/" />

        <input type="text" name="_gotcha" style="display: none" />
    </form>
{% endblock %}

{% block body_classes 'page--contact' %}
