---
layout: page
title: Projects
use:
    - projects
---
<ul>
    {% for project in data.projects|reverse %}
        <li>{% spaceless %}
            <a href="{{ project.url }}">{{ project.title }}</a>
        {% endspaceless %}</li>
    {% endfor %}
</ul>
