---
layout: page
title: Talks
meta:
    description: 'Information about previous and upcoming talks that Oliver has presented at conferences and user groups'
use: [talks]
---
{% block content %}
    {% for talk in data.talks %}
        <div class="sm:flex sm:flex-row-reverse sm:-mx-2 mb-12 sm:mb-12">
            <div class="sm:flex-1 sm:mx-2">
                <h2>
                    <a href="{{ talk.url }}">
                        {{ talk.title }}
                    </a>
                </h2>

                <div>
                    {{ talk.summary|markdown }}
                </div>
            </div>

            {% include 'talk/image.html.twig' %}
        </div>
    {% endfor %}
{% endblock %}
