---
layout: default
title: Talks
meta:
    description: 'Information about previous and upcoming talks that Oliver has presented at conferences and user groups'
use: [talks, posts]
---
<h1>Talks</h1>

<p>I regularly speak at conferences and user groups about a range of subjects including Drupal, Sculpin and Git. If you would like to me to speak at your group or conference, please <a href="/contact/">get in touch</a>.</p>

<p>There is also information about events that I’ve attended and spoken at on my <a href="{{ site.lanyrd.url }}">Lanyrd</a> and <a href="{{ site.joindin.url }}">Joind.in</a> profiles.</p>

{% set events = [] %}

{% for talk in data.talks %}
    {% for event in talk.events %}
        {% set event = event|merge({ talk: talk })|merge(site.events[event.id]) %}
        {% set events = events|merge([event]) %}
    {% endfor %}
{% endfor %}

{% include "talks-table" with { events: events, show_talk: true, reverse_order: true } %}
