---
layout: default
title: Talks
meta:
    description: 'Information about previous and upcoming talks that Oliver has presented at conferences and user groups'
use: [talks, posts]
---
<h1>Talks</h1>

{% set events = [] %}

{% for talk in data.talks %}
    {% for event in talk.events %}
        {% set event = event|merge({ talk: talk }) %}
        {% set events = events|merge([event]) %}
    {% endfor %}
{% endfor %}

{% for event in events|sortbyfield('date')|reverse %}
    {{ event.title }}<br>
    {{ event.date }}<br>
    {{ event.talk.title }}<br>
    {{ event.talk.url }}<br><br>
{% endfor %}
