---
layout: page
title: Talks
meta:
    description: 'Information about previous and upcoming talks that Oliver has presented at conferences and user groups'
use: [talks]
---
{% block content %}
    <p>I regularly speak at conferences and user groups about a range of subjects including Drupal, Sculpin and Git. If you would like to me to speak at your group or conference, please <a href="{{ site.url }}/contact">get in touch</a>.</p>

    <h2>Upcoming Talks</h2>

    {% set upcoming_talks = { talks: data.talks, event_data: site.events }|upcoming_talks %}
    {% if upcoming_talks %}
        {% include "talks-table" with { talks: upcoming_talks } %}
    {% else %}
        <p>Nothing scheduled at the moment.</p>
    {% endif %}

    <h2>Last 5 Talks</h2>

    {% include "talks-table" with {
        talks: { talks: data.talks, event_data: site.events }|past_talks|slice(0,5)
    } %}

    <p>All previous talks can be found in the <a href="{{ site.url }}/talks/archive">talks archive</a>.</p>
{% endblock %}
