---
layout: default
title: Talks
nav: talks
meta:
  description: 'Information about previous and upcoming talks that Oliver has presented at conferences and user groups'
use:
  - talks
---
<h1>Talks</h1>

<p>I regularly speak at conferences and user groups about a range of subjects relating to Drupal, PHP and web development. If you would like to me to speak at your group or conference, please <a href="/contact">get in touch</a>.</p>

{% set now = 'now'|date('U') %}
{% set talks = data.talks %}

{% set found = false %}
{% for talk in talks if talk.date >= now %}
  {% if loop.first %}
    {% set found = true %}
    <h2>Upcoming Talks</h2>
    <dl>
  {% endif %}

  {% include 'talk-listing-item' %}
{% endfor %}
{% if found %}
  </dl>
{% endif %}

{% set found = false %}
{% for talk in talks if talk.date < now %}
  {% if loop.first %}
    {% set found = true %}
    <h2>Previous Talks</h2>
    <dl>
  {% endif %}

  {% include 'talk-listing-item' %}
{% endfor %}
{% if found %}
  </dl>
{% endif %}