---
layout: page
title: Talk Archive
permalink: talks/archive
use: [talks]
---
<p>Here are a list of my previous conference and user group talks:</p>

{% include "talks-table" with {
    talks: getPastTalks(data.talks|merge(site.talks), site.events),
} %}

<p>Upcoming talks can be found on the <a href="{{ site.url }}/talks" class="link">talks page</a>.</p>
