---
title: The Daily Drupaler
generator: pagination
pagination:
  max_per_page: 30
  provider: data.daily_emails
use:
  - daily_emails
---

{% block content %}
  <p>This is an archive of the {{ data.daily_emails|length }} email messages I have sent to <a href="/daily">my daily mailing list</a> since the 12th of August, 2022. Enjoy!</p>

  <div class="mt-6 space-y-16">
    <div>
      <ul>
        {% for email in page.pagination.items %}
          <li>
            <a href="{{ email.url }}">
              {{ email.date|date('jS F Y') }}:
              {{ email.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>

    {% if page.pagination.previous_page or page.pagination.next_page %}
      <nav class="flex justify-center pt-10 space-x-6">
        {% if page.pagination.previous_page %}<a href="{{ site.url }}{{ page.pagination.previous_page.url }}">&larr; Newer Posts{% endif %}<br />
        {% if page.pagination.next_page %}<a href="{{ site.url }}{{ page.pagination.next_page.url }}">Older Posts &rarr;</a>{% endif %}<br />
      </nav>
    {% endif %}
  </div>
{% endblock %}

{% block content_bottom %}
  {% include 'daily-email-form.html.twig' %}

  {% include 'about-me.html.twig' %}
{% endblock %}
