---
title: Blog
use:
  - posts
intro_text: |
    TODO: update text
---

<div class="mt-10">
    <div class="space-y-8">
        {% for talk in data.posts|sort((a, b) => a.date < b.date) %}
            <article>
                <h2>
                    <a class="text-blue-800 dark:text-blue-400" href="{{ talk.url }}">
                        {{ talk.title }}
                    </a>
                </h2>

                <p class="mt-1">{{ talk.excerpt }}</p>
            </article>
        {% endfor %}
    </div>
</div>
