---
title: "Blog"
use: ["posts"]
intro_text: |
    This is where I publish my personal blog posts as well as technical posts
    and tutorials on topics such as Drupal, PHP, Tailwind CSS, automated testing,
    and systems administration.
---

<div class="mt-10">
    <div class="space-y-8">
        {% for post in data.posts|sort((a, b) => a.date < b.date) %}
            {% include 'post/post-teaser' with { post } only %}
        {% endfor %}
    </div>
</div>
