---
title: Blog
use:
  - posts
intro_text: |
    I enjoy writing articles and have written a number of them so far during my career, both to document my own learning as well to act as resources for others.
---

<div class="mt-10">
    <div class="space-y-8">
        {% for post in data.posts|sort((a, b) => a.date < b.date) %}
            {% include 'post/post-teaser' with { post } only %}
        {% endfor %}
    </div>
</div>
