---
title: Calendars
descriptions:
    consultation: ~
    pairing: ~
---

<ul>
    {% for key, calendar in site.calendars %}
        <li>
            <a href="{{ calendar.url }}">
                {{- calendar.name -}}
            </a>

            {% if page.descriptions[key] %}
                - {{ page.descriptions[key] }}
            {% endif %}
        </li>
    {% endfor %}
<ul>
