---
title: Book a 1-on-1 consulting call
link: https://savvycal.com/opdavies/consulting-call
price: 350
faqs:
  -
    - What happens after I pay?
    - Your call is scheduled at the time you pay. So after payment is received, we're all set!
  -
    - What if I can't find a suitable time?
    - If you can't find a suitable time, due to your time zone, or weekly schedule, just <a href="mailto:oliver@oliverdavies.uk?subject=1-on-1 consulting call">send me an email</a>, and we can arrange something. I try to be as flexible as possible!
  -
    - Can my colleague or business partner join the call?
    - No. This is a 1-on-1 call. You are welcome to record the conversation to share it after the fact.
  -
    - Do you offer something more hands-on?
    - Sure! <a href="/pair">Book a pair programming session</a> instead and we’ll work on your code together.
  -
    - I still have questions!
    - No problem. Send me an email at <a href="mailto:oliver@oliverdavies.uk?subject=1-on-1 consulting call">oliver@oliverdavies.uk</a>.
---

{% block content %}

{# <h2>Who is this for?</h2> #}

{# Pain #}

{# Dream #}

{# Fix #}

<p>As a professional Software Developer and Consultant with {{ get_years_of_experience() }} years of Drupal and PHP experience, I have a lot of knowledge that I use to help customers and their projects.</p>

{# 1st call to action #}

{% include 'button' with {
    position: 'centre',
    text: 'Book your call now',
    url: page.link,
    withArrow: true,
} %}

<h2>Some things I can help you with</h2>

<ul>
  <li>How to approach a new project or task.</li>
  <li>PHP and Drupal fundamentals and best practices.</li>
  <li>Adding eCommerce functionality with Drupal Commerce.</li>
  <li>Upgrading Drupal websites from unsupported versions.</li>
  <li>Writing your first automated tests with PHPUnit or starting with test-driven development.</li>
  <li>Introducing static analysis or other code quality tools to your project.</li>
  <li>Adopting a utility-first CSS approach, e.g. Tailwind CSS, within a new or existing theme.</li>
  <li>Configuring continuous integration (CI) pipelines with GitHub Actions, GitLab CI or Bitbucket Pipelines.</li>
  <li>Automating tasks with Docker or Ansible.</li>
  <li>Help fixing a bug or some broken code.</li>
  <li>Reviewing your code and providing advice and suggestions.</li>
</ul>

<p>In this 1-on-1 video call, I can help you answer questions in these areas or any others you may have.</p>

{% include 'button' with {
    position: 'centre',
    text: 'Book your call now',
    url: page.link,
    withArrow: true,
} %}

{# Social proof #}

{% include 'testimonials' with { tag: 'call' } %}

{# Overcome objections #}

<h2>100% money-back guarantee!</h2>

<p>If you don't find the call valuable, just let me know, and I'll refund 100% of the cost.</p>

<h2>Frequently asked questions</h2>

{% for faq in page.faqs %}
  <li class="list-none">
    <h3 class="mt-0 text-lg">{{ faq.0 }}</h3>
    <p>{{ faq.1|raw }}</p>
  </li>
{% endfor %}

{# Uniqueness #}

<h2>Who am I?</h2>

<ul>
  <li>I'm an Acquia-certified Drupal expert with {{ get_years_of_experience() }} years of professional development experience.</li>
  <li>I'm a former Drupal Association employee who was responsible for improving and maintaining Drupal.org.</li>
  <li>I'm a Drupal core contributor and maintain numerous Drupal projects, including the Override Node Options module, which is used on over 38,000 websites.</li>
  <li>I'm a multiple-time DrupalCon speaker who regularly presents talks and workshops at conferences and meetups.</li>
</ul>

{# 2nd CTA #}

{% embed 'callout.html.twig' with {
  title: 'Ready to book your call?',
} %}
  {% block callout_content %}
    {% include 'button.html.twig' with {
        text: 'Book your call now for £' ~ page.price|number_format ~ '',
        url: page.link,
        withArrow: true,
    } %}

    <p class="mb-0">You can pay and reserve your time slot straight away. There are a limited number of available slots each month. If, after the call, you decide to do a longer engagement with me, the cost of this call will be deducted from that engagement.</p>
  {% endblock %}
{% endembed %}

{# Urgency #}

<h2>Availability is limited</h2>

<p>I’m only available for a few 1-on-1 calls per month.</p>

<p>Scheduling is first come, first served, so the sooner you book your time slot, the sooner you will have the answers you need to move your project forward.</p>

{% endblock %}
