---
title: Projects
use:
    - projects
draft: true
---

<ul>
    {% for project in data.projects %}
        <li>
            <a href="{{ project.url }}">{{ project.title }}</a>
        </li>
    {% endfor %}
</ul>
