---
title: Talks and workshops
use: [talks]
---

<p>Starting with my first talk in September 2012, I have given
{{ get_past_talk_count(data.talks) }} presentations and workshops at various
conferences and meetups, in-person and remotely, on topics including PHP,
Drupal, automated testing, Git, CSS, and systems administration.</p>

<div class="mt-10">
    <div class="space-y-8">
        {% for talk in data.talks|sort((a, b) => get_last_event_date_for_talk(b) <=> get_last_event_date_for_talk(a)) %}
            <article>
                <h2>
                    <a class="dark:text-blue-400 text-blue-primary" href="{{ talk.url|trim('/', 'right') }}">
                        {{ talk.title }}
                    </a>
                </h2>

                <p class="mt-1">{{ talk.description }}</p>
            </article>
        {% endfor %}
    </div>
</div>
