<article>
    <h3 class="text-lg text-black mb-1">{{ talk.title }}</h3>

    <div class="text-sm text-grey-darkest">
        <p>{{ talk.description }}</p>
    </div>

    {% if talk.url %}
        <footer class="mt-1">
            <a href="{{ talk.url }}" class="text-sm text-grey-dark hover:text-grey-darkest focus:text-grey-darkest no-underline hover:underline">
                Find out more
                <span class="visuallyhidden">about {{ talk.title }}</span>
                &rarr;
            </a>
        </footer>
    {% endif %}
</article>
