<div class="spaced-y-4">
    <h2 class="font-bold">Upcoming Talks</h2>

    <div class="spaced-y-10">
        {% for talk in talks %}
            {% include 'talks/talk' %}
        {% else %}
            <p>Nothing scheduled at the moment.</p>
        {% endfor %}
    </div>
</div>