{% extends 'default' %}

{% block content_wrapper %}
    <div class="md:flex -mx-6">
        <div class="wrap md:flex-1 px-6 mb-12 md:mb-0">
            <div class="markup spaced-y-4 mb-8">
                {% block content %}{% endblock %}
            </div>

            {% include 'about/availability' %}
        </div>

        <div class="w-full md:w-2/5 lg:w-1/3 px-6">
            {% include 'about/badges' %}
        </div>
    </div>
{% endblock %}
